body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
}

h2,h3,h4,h5,h6 {
  font-weight: 700;
}

h1 {
  font-weight: 800;
}

p {
  font-size: 18px;
}

#drop-area {
  margin-bottom: 2rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23D8D8D8FF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='21' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;

  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  text-decoration: none;
}

.logo-text {
  font-size: 36px;
  color: black;
  /* background: -webkit-linear-gradient(0deg, green, orange); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  max-width: 10em;
}

.greeting {
  text-align: center;
}

#separator {
color: #D8D8D8FF;
}

#status {
  font-size: 24px;
  margin-bottom: 1rem;
}

#books-list {
  display: inline-block;
  text-align: left;
}

.book {
  /* transition: opacity 4000ms; */
  /* will-change: opacity; */
}

.book-url {
  color: green;
  text-decoration: none;
}

.color-ink {
  color: #3393FF;
}

.color-greyish {
  color: #7E7E7E;
}

.text-center {
  text-align: center;
}
